patch/
policy-*.tgz
policy.tgz*
policy/USB/
policy/backup.tgz
policy/bluetooth.te.test
policy/common/bluetooth.te.works
policy/copyit
policy/gen-policy.sh
policy/group
policy/group.old
policy/killscpl.sh
policy/my-policy
policy/my-policy.conf
policy/passwd
policy/stage
policy/su.te
policy/tarit.sh
policy/usbit
