###rx file type, mostly for library
type bluetooth_file, file_type;

###rw file type, for data and cache
type bluetooth_data_file, file_type, private_data_file_type;

###exec type, need domain transition
type bluetooth_exec, file_type;
domain_auto_trans(privileged_domain, bluetooth_exec, bluetooth);
#lw for vzlogwrapper
#domain_auto_trans(bluetooth, vzsdk_exec, vzsdk);

###domain bluetooth
type bluetooth, domain_type;

# for /tmp/
file_type_auto_trans(bluetooth, tmp_file, bluetooth_data_file);

# for /var/run/dbus/
file_type_auto_trans(bluetooth, tmpfs, bluetooth_data_file);

# for /data
file_type_auto_trans(bluetooth, system_data_file, bluetooth_data_file);

#file_type_auto_trans(bluetooth, device, bluetooth_device);

#-----------------------------------------------------------
allow bluetooth application_file:dir { read search getattr };

allow bluetooth backup_data_file:dir { read search getattr };

allow bluetooth basic_device:chr_file { read getattr write ioctl };
allow bluetooth basic_file:dir { getattr search };

allow bluetooth bin_file:dir search;
allow bluetooth bin_exec:file { read execute getattr execute_no_trans map };
allow bluetooth bin_exec:dir  { read getattr search };
allow bluetooth bin_exec:lnk_file { read getattr };

allow bluetooth bluetooth_data_file:dir { open getattr read search write add_name create rename setattr remove_name };
allow bluetooth bluetooth_data_file:file { getattr open read append write lock create setattr rename unlink };
allow bluetooth bluetooth_device:chr_file { read write getattr ioctl relabelto setattr };
allow bluetooth bluetooth_exec:dir { getattr search read };
allow bluetooth bluetooth_exec:file { ioctl execute_no_trans map };
allow bluetooth bluetooth_exec:lnk_file { read getattr };
allow bluetooth bluetooth_file:dir { read search getattr };
allow bluetooth bluetooth_file:file { read getattr execute map };
allow bluetooth bluetooth_file:lnk_file { read getattr };

allow bluetooth cache_data_file:dir { read search getattr };

# /cast_root/dev/socket/logdw -- btLogWrapper logging?
allow bluetooth cast_init:unix_dgram_socket sendto;

# /sys/kernel/debug/tracing/ # for insmod?
allow bluetooth debugfs:dir search;

# /cast_root/dev/uhid
allow bluetooth device:chr_file { getattr };
allow bluetooth device:dir { read search getattr };

allow bluetooth etc_conf_file:file { read getattr };
allow bluetooth etc_conf_file:lnk_file { read getattr };

allow bluetooth event_device:chr_file { read write getattr setattr ioctl };

allow bluetooth file_inode:dir { read search getattr };
allow bluetooth file_inode:file { read getattr };

allow bluetooth httpd_data_file:dir { read search getattr };
allow bluetooth httpd_data_file:file { read getattr };
allow bluetooth httpd:dir { search getattr };
allow bluetooth httpd:file read;

allow bluetooth miomap_device:chr_file { read write ioctl };

allow bluetooth pts_device:chr_file { read write getattr };

allow bluetooth rootfs:dir { read search getattr };
allow bluetooth rootfs:file { read getattr execute execute_no_trans ioctl };
allow bluetooth rootfs:lnk_file { read getattr };

allow bluetooth self:capability { net_admin sys_resource net_bind_service sys_module net_raw sys_ptrace };
allow bluetooth self:dir { search getattr };
# for /tmp/btvoicefifo pipe file
allow bluetooth self:fifo_file { read write getattr ioctl };
allow bluetooth self:file { read getattr };
allow bluetooth self:netlink_kobject_uevent_socket { read create bind setopt };
allow bluetooth self:netlink_route_socket { write bind create getattr nlmsg_read read };
allow bluetooth self:process { fork setrlimit signal sigchld };
allow bluetooth self:socket { create bind read write setopt getopt listen accept getattr connect ioctl };
allow bluetooth self:system module_load;
allow bluetooth self:tcp_socket { create write read setopt connect };
allow bluetooth self:udp_socket { read create getattr write connect };
allow bluetooth self:unix_dgram_socket { create connect write };
allow bluetooth self:unix_stream_socket { getopt setopt getattr read write ioctl shutdown accept create connect connectto bind listen };

allow bluetooth selinuxfs_file:filesystem { getattr };

allow bluetooth semi_root_process:binder { transfer call };
allow bluetooth semi_root_process:dir { search getattr };
allow bluetooth semi_root_process:fd use;
allow bluetooth semi_root_process:file read;
allow bluetooth semi_root_process:lnk_file read;
allow bluetooth semi_root_process:process signal;

allow bluetooth semutex_device:chr_file { read write ioctl };

allow bluetooth shm_device:dir { read search getattr write remove_name add_name };
allow bluetooth shm_device:file { read write create unlink getattr };

# for /cast_root/dev/socket/logdw (logcat socket)
allow bluetooth socket_device:dir { read search getattr };
allow bluetooth socket_device:sock_file write;

# for /sys/module/firmware_class/parameters/path
allow bluetooth sysfs:dir { read search getattr write add_name };
allow bluetooth sysfs:file { create read write };
allow bluetooth sysfs:filesystem getattr;
allow bluetooth sysfs:lnk_file { read getattr };

allow bluetooth system_data_file:dir  { read search getattr };
allow bluetooth system_data_file:file { read getattr };
allow bluetooth system_data_file:lnk_file read;

# for /proc/meminfo
allow bluetooth system_file:dir { read getattr search };
allow bluetooth system_file:file { read getattr };

allow bluetooth system_lib_file:dir { read search getattr };
allow bluetooth system_lib_file:file { read getattr execute map };
allow bluetooth system_lib_file:lnk_file read;

allow bluetooth third_file:dir { read search getattr };

allow bluetooth tmp_file:file { read getattr };
allow bluetooth tmp_file:lnk_file read;

allow bluetooth tmpfs:dir { read search getattr };
allow bluetooth tmpfs:file { getattr };

# for 127.0.0.1:57280 <==> 127.0.0.1:7346
allow bluetooth unconfined_type:association { recvfrom sendto };
allow bluetooth unconfined_process:fd { use };
allow bluetooth unconfined_process:system { module_request };
allow bluetooth unconfined_type:tcp_socket name_connect;

# /usr/share/zoneinfo/
allow bluetooth usr_data_file:dir { search getattr };

#lw -- questionable --------------

# allow until SELinux context of /cast_root/dev/uhid, hidraw[01] fixed
allow bluetooth device:chr_file { read write ioctl setattr };

# for mtk_launcher
allow bluetooth basic_bin_file:dir search;

# for vzlogwrapper -----
#allow bluetooth third_rw_data_file:lnk_file read;
allow bluetooth vzsdk_exec:dir { read search getattr execute };
allow bluetooth vzsdk_exec:file { read execute getattr execute_no_trans };
allow bluetooth vzservices_exec:dir { read search getattr execute };
allow bluetooth vzservices_exec:file { read execute getattr execute_no_trans };
