type semi_root_process, domain_type, dtv_svc_init_type;

#access rules for file_type
mtkAccessPartialRules(semi_root_process, { file_type - private_data_file_type });
mtkAccessPartialRules(semi_root_process, private_data_file_type, no_file_rw);

#access rules for domain_type
mtkAccessPartialRules(semi_root_process, domain_type)

allow semi_root_process su_exec :file ~{w_file_perms};
allow semi_root_process su_exec :lnk_file ~{w_file_perms};

#allow logcat.sh on console
allow semi_root_process su:fifo_file write;

