###rx file type, mostly for library
type vzservices_file, file_type;
domain_auto_trans(privileged_domain, vzservices_file, vzservices);
auditallow privileged_domain vzservices_file:file { execute execute_no_trans };

###rw file type, for data and cache
type vzservices_data_file, file_type;

###exec type, need domain transition
type vzservices_exec, file_type;
domain_auto_trans(privileged_domain, vzservices_exec, vzservices);

###vz_bin_exec type, for vzlogwrapper
type vz_bin_exec, file_type;

###domain vzservices
type vzservices, domain_type;

file_type_auto_trans(vzservices, tmp_file, vzservices_data_file);
file_type_auto_trans(vzservices, tmpfs, vzservices_data_file);
#-----------------------------------------------------------

allow vzservices backup_data_file:dir { search write remove_name };

# /sys/fs/selinux/null
allow vzservices basic_device:chr_file { read write };

# /bin/rm
allow vzservices bin_exec:dir search;
allow vzservices bin_exec:file { read execute execute_no_trans getattr };
allow vzservices bin_exec:lnk_file read;
allow vzservices bin_file:dir search;

# bluetooth
allow vzservices bluetooth_exec:dir { getattr read search write remove_name rmdir };
allow vzservices bluetooth_exec:file { read getattr unlink };
allow vzservices bluetooth_exec:lnk_file unlink;
allow vzservices bluetooth_file:dir { getattr read search write remove_name rmdir };
allow vzservices bluetooth_file:file { read getattr unlink };
allow vzservices bluetooth_file:lnk_file { read getattr unlink };
# /cast_root/dev/socket/logdw
allow vzservices cast_init:unix_dgram_socket sendto;
# conjure
allow vzservices conjure_exec:file { read getattr unlink relabelto ioctl setattr };
allow vzservices conjure_exec:lnk_file { unlink relabelto };
allow vzservices conjure_file:dir { getattr read search write remove_name rmdir };
allow vzservices conjure_file:file { read getattr unlink };
allow vzservices conjure_file:lnk_file { read getattr unlink };

# /cast_root/dev
allow vzservices device:dir search;

# /dev/pts/0
allow vzservices pts_device:chr_file { read write };

# /dev/dm-0
allow vzservices rootfs:dir { read getattr search };
allow vzservices rootfs:file { read getattr };
allow vzservices rootfs:lnk_file { read getattr };

allow vzservices self:dir search;
allow vzservices self:fifo_file { read write getattr };
allow vzservices self:process { fork signal sigchld };
allow vzservices self:shm { create read write unix_read unix_write };
allow vzservices self:unix_dgram_socket { create connect write };

# /cast_root/dev/socket
allow vzservices socket_device:dir { read search getattr };
allow vzservices socket_device:sock_file write;
allow vzservices system_data_file:dir { search getattr };
# to remove bluetooth, bluetooth_[ab], conjure, conjure_[ab] from /data/app
allow vzservices system_data_file:dir { remove_name write };
allow vzservices system_data_file:lnk_file { read getattr };

allow vzservices system_file:dir search;
allow vzservices system_file:file { read getattr };

# /lib/libc.so.6, /lib/ld-2.21.so
allow vzservices system_lib_file:dir { search getattr };
allow vzservices system_lib_file:file { read execute getattr };
allow vzservices system_lib_file:lnk_file read;

###access vzservices own file
allow vzservices vzservices_file:dir { open getattr execute read search };
allow vzservices vzservices_file:file {open getattr execute execute_no_trans entrypoint read ioctl};
allow vzservices vzservices_file:lnk_file {read getattr open execute};

###access vzservices data file
allow vzservices vzservices_data_file:dir { open getattr read search write add_name create execute rename setattr };
allow vzservices vzservices_data_file:file { getattr open read append write lock setattr };
allow vzservices vzservices_data_file:lnk_file { getattr open read write read };

###access vzservices exec file
allow vzservices vzservices_exec:dir {open execute getattr read search};
allow vzservices vzservices_exec:file{open read entrypoint getattr execute ioctl execute_no_trans};
allow vzservices vzservices_exec:lnk_file read;

###access vzlogwrapper
allow vzservices vz_bin_exec:file{open read entrypoint getattr execute ioctl execute_no_trans};

###access install_manager
allow vzservices httpd:msgq {create getattr unix_read unix_write read write associate enqueue};
allow vzservices httpd:shm { unix_read unix_write };
allow vzservices self:msgq {create getattr unix_read unix_write read write associate enqueue};
allow vzservices self:dir search;
allow vzservices self:file read;
allow vzservices self:lnk_file read;
allow vzservices shm_device:dir search;
allow vzservices system_data_file:dir search;
allow vzservices self:msg *;
allow vzservices tmp_file:lnk_file read;

###IM versions
allow vzservices httpd_data_file:fifo_file read;
allow vzservices airplay_file:lnk_file read;
allow vzservices demo_data_file:dir search;
allow vzservices system_data_file:lnk_file read;
allow vzservices third_rw_data_file:lnk_file read;
allow vzservices airplay_file:dir search;
allow vzservices conjure_file:dir search;
allow vzservices demo_data_file:lnk_file read;
allow vzservices third_rw_data_file:dir search;
allow vzservices conjure_file:file read;
allow vzservices system_data_file:file read;

###IM decryption
allow vzservices bin_file:dir search;
allow vzservices bin_exec:lnk_file read;
allow vzservices bin_exec:dir search;
allow vzservices bin_exec:file {execute read execute_no_trans getattr};
allow vzservices self:process sigchld;
allow vzservices etc_conf_file:file read;
allow vzservices self:unix_stream_socket { create connect };
allow vzservices system_file:file read;
allow vzservices third_file:dir search;
allow vzservices httpd_data_file:dir {search write add_name remove_name};
allow vzservices httpd_data_file:file { rename unlink setattr };
allow vzservices self:fifo_file { write getattr ioctl };
allow vzservices system_file:file getattr;
allow vzservices third_exec:dir search;
allow vzservices basic_device:chr_file {ioctl getattr};
allow vzservices httpd_data_file:file {getattr read ioctl create write};
allow vzservices rootfs:file {execute execute_no_trans};
allow vzservices self:capability { sys_chroot dac_read_search dac_override };
allow vzservices wpa_supplicant_file:dir search;
allow vzservices third_exec:file {read getattr};
allow vzservices application_file:dir search;
allow vzservices tmp_file:dir remove_name;
allow vzservices pts_device:chr_file { getattr ioctl };

###IM startup from launch_vz
allow vzservices unconfined_process:fd { use };
allow vzservices unconfined_process:msgq { unix_read unix_write associate };
allow vzservices unconfined_process:system module_request;

###IM staging
allow vzservices system_data_file:dir { write getattr rmdir read remove_name create add_name };
allow vzservices system_data_file:file { write create getattr unlink };
allow vzservices appletv_file:dir { write getattr rmdir read remove_name create add_name relabelto relabelfrom search setattr};
allow vzservices appletv_file:file { write read create getattr unlink setattr relabelfrom relabelto ioctl };
allow vzservices appletv_exec:file { read getattr unlink relabelto setattr };
allow vzservices appletv_public_data_file:dir { write getattr rmdir read remove_name create add_name relabelto relabelfrom search setattr};
allow vzservices httpd_file:dir { write getattr rmdir read remove_name create add_name relabelto relabelfrom search setattr};
allow vzservices httpd_file:file { write read create getattr unlink setattr relabelfrom relabelto ioctl };
allow vzservices httpd_exec:dir { unlink relabelfrom write getattr rmdir read remove_name create add_name relabelto search setattr };
allow vzservices httpd_exec:file { read getattr unlink relabelfrom relabelto };
allow vzservices vzndk_file:dir { write getattr rmdir read remove_name create add_name relabelto search setattr};
allow vzservices vzndk_file:file { write read create getattr unlink setattr relabelfrom relabelto ioctl execute };
allow vzservices vzndk_bin_exec:file { read getattr unlink relabelto };
allow vzservices vzndk_bin_exec:lnk_file { read relabelto getattr unlink};
allow vzservices conjure_file:dir { write getattr rmdir read remove_name create add_name relabelto search setattr};
allow vzservices conjure_file:file { write read create getattr unlink setattr relabelfrom relabelto ioctl };
allow vzservices conjure_file:lnk_file { create relabelto read getattr unlink relabelfrom};
allow vzservices airplay_file:dir { write getattr rmdir read remove_name create add_name relabelto search setattr};
allow vzservices airplay_file:file { write read create getattr unlink setattr relabelfrom relabelto ioctl };
allow vzservices airplay_file:lnk_file { create relabelto read getattr unlink relabelfrom};
allow vzservices homekit_file:dir { write getattr rmdir read remove_name create add_name relabelto search setattr};
allow vzservices homekit_file:file { write read create getattr unlink setattr relabelfrom relabelto ioctl };
allow vzservices homekit_file:lnk_file { create relabelto read getattr unlink relabelfrom};

###IM installing
allow vzservices system_data_file:lnk_file { create getattr unlink relabelfrom};
allow vzservices appletv_file:lnk_file { create relabelto read getattr unlink};
allow vzservices httpd_file:lnk_file { create relabelto read getattr unlink};
allow vzservices vzndk_file:lnk_file { create relabelto read getattr unlink relabelfrom};

###IM restorecon
allow vzservices self:file getattr;
allow vzservices selinuxfs_file:filesystem getattr;
allow vzservices sysfs:dir search;
allow vzservices system_data_file:dir relabelfrom;
allow vzservices system_data_file:file relabelfrom;

###IM post-install
allow vzservices self:capability {chown fsetid};
allow vzservices etc_conf_file:file getattr;

### FactoryReset.sh
allow vzservices vizios_data_file:dir { getattr read search write remove_name rmdir };
allow vzservices vizios_data_file:file { read getattr unlink };
allow vzservices vizios_data_file:lnk_file { read getattr unlink };

allow vzservices httpd_data_file:dir { getattr read search write remove_name rmdir };
allow vzservices httpd_data_file:file { read getattr unlink };
allow vzservices httpd_data_file:lnk_file { read getattr unlink };

# logcat.sh
allow vzservices tmp_file:file { getattr read };
allow vzservices unconfined_process:fifo_file write;
allow vzservices cast_init:unix_stream_socket connectto;
allow vzservices self:unix_stream_socket { read write };
allow vzservices etc_conf_file:lnk_file read;
allow vzservices chrome_data_file:dir { read getattr search };
allow vzservices chrome_data_file:lnk_file { read getattr };
# pipe output to grep
allow vzservices su:fifo_file write;

