allow chrome chrome_exec:file map;
allow chrome system_lib_file:file map;
allow chrome chrome_file:file map;
allow chrome chrome_data_file:file map;
allow chrome file_inode:file map;
allow chrome rootfs:file map;
allow chrome semutex_device:chr_file map;
allow chrome shm_device:file map;
allow chrome etc_conf_file:file map;
allow chrome tmp_file:file map;
allow chrome miomap_device:chr_file map;
allow chrome basic_device:chr_file map;
allow chrome mali_device:chr_file map;
allow chrome binder_device:chr_file map;
