allow conjure rootfs:file map;
allow conjure system_lib_file:file map;
allow conjure conjure_exec:file map;
allow conjure etc_conf_file:file map;
allow conjure file_inode:file map;
allow conjure conjure_file:file map;
allow conjure basic_device:chr_file map;
allow conjure conjure_data_file:file map;
allow conjure mali_device:chr_file map;
allow conjure semutex_device:chr_file map;
allow conjure shm_device:file map;
allow conjure tmp_file:file map;
allow conjure miomap_device:chr_file map;
allow conjure chrome_file:file map;
allow conjure binder_device:chr_file map;
