allow httpd bin_exec:file map;
allow httpd basic_lib_file:file map;
allow httpd system_lib_file:file map;
allow httpd third_file:file map;
allow httpd tmp_file:file map;
allow httpd python_file:file map;
allow httpd python_exec:file map;
allow httpd httpd_data_file:file map;
allow httpd httpd_exec:file map;
allow httpd httpd_file:file map;
allow httpd { airplay_data_file airplay_public_data_file }:file map;
allow httpd bluetooth_file:file map;
allow httpd vzservices_file:file map;
allow httpd vz_bin_exec:file map;
allow httpd vzservices_exec:file map;
allow httpd vzndk_file:file map;

