allow netflix netflix_file : file map;
allow netflix netflix_data_file : file map;
allow netflix netflix_exec : file map;
allow netflix basic_device : chr_file map;
allow netflix binder_device : chr_file map;
allow netflix snd_device : chr_file map;
allow netflix mali_device : chr_file map;
allow netflix miomap_device : chr_file map;
allow netflix semutex_device : chr_file map;
allow netflix snd_device : dir map;
allow netflix bin_exec : file map;
allow netflix playready_lib_file : file map;
allow netflix system_lib_file : file map;
allow netflix basic_lib_file : file map;
allow netflix tmp_file : file map;
allow netflix fusion_data_file:file map;
