allow uli bin_exec:file map;
allow uli uli_file:file map;
allow uli basic_lib_file:file map;
allow uli system_lib_file:file map;
allow uli uli_exec:file map;

###allow vzlogwrapper to wrap mtk_uli
allow uli vz_bin_exec:file map;
